#advert{
    margin-left: 20%;
    margin-right: 20%;
}

#desc {
    width: 200px;
    word-break: normal;
}

.btnr {
    border-radius: .25rem;
}

.msg-comment {
    word-wrap: break-word;
}

.date-comment {
    color: gray;
}